html,
body {
  height: 100%;
  margin: 0;
}

header {
  grid-column: 1/-1;
  background-color: #202225;
}

main {
  display: grid;
  grid-template-rows: 60px auto;
  grid-template-columns: 300px auto;
  height: 100%;
  overflow: hidden;
}

nav {
  height: auto;
  padding: 10px;
  overflow-y: scroll;
  background-color: #2f3136;
}

section {
  height: auto;
  padding: 10px;
  background-color: #37393e;
}

h1 {
  margin: 0px;
  font-size: 40px;
  font-family: "Bebas Neue";
  color: white;
}

p {
  font-family: "roboto";
  color: whitesmoke;
}

span {
  margin: 5px 0px;
  padding: 5px;
  border-radius: 0.3em;
  border-style: solid;
  font-family: "roboto";
  color: white;
}

span.Introduced {
    border-color: #475C82;
}
span.Engrossed {
    border-color: #A8CBAF;
}
span.Enrolled {
    border-color: #F8DAA3;
}
span.Passed {
    border-color: #64b385;
}
span.Vetoed {
    border-color: #F3B09D;
}
span.Failed {
    border-color: #E18B88;
}

.card {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #2f3136;
}

.card.selected {
  border-radius: 0.3em;
  background-color: #37393e;
}

.card div {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

::-webkit-scrollbar {
  width: 0px;
}
